# Keycloak
KEYCLOAK_URL=http://192.168.10.62:8080/
KEYCLOAK_REALM=cdac
KEYCLOAK_CLIENT_ID=sinkhole
KEYCLOAK_CLIENT_SECRET=oX9KFy1dkJuq7hgLV+EwRvXHXViDHMM8bDgR14vGeKA=

# Zeek Logs

# Ceph API
CEPH_RGW_ENDPOINT=http://localhost:7480

# Elasticsearch Configuration
ES_HOST=http://localhost:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=password
KIBANA_TOKEN=token
# ======================================
# Ceph RADOS Configuration
# ======================================

# Network
CEPH_MON_IP=172.31.30.188
CEPH_MGR_IP=172.31.30.188
CEPH_OSD_IP=172.31.30.188
CEPH_RGW_IP=172.31.30.188
CEPH_PUBLIC_NETWORK=192.168.99.0/24

# RGW Admin User (S3 credentials)
RGW_USER=admin
RGW_DISPLAY_NAME="Admin User"
RGW_ACCESS_KEY=password
RGW_SECRET_KEY=password
RGW_REGION=us-east-1

# Ceph Dashboard login
DASHBOARD_USER=admin
DASHBOARD_PASSWORD=password

# Ports
RGW_PORT=7480
CEPH_RGW_HOST=ceph-rgw
DASHBOARD_PORT=7000

